<html>
<head>
<title>Home!</title>
<link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<html>
<div class="errorPage">
	<span class="oops">Home Page</span><br /> <img
		th:src="@{/MissingPage.png}"></img>
	<h1>
		Welcome to the Random Beer App. </ h1>

		<h2>API Links</h2>
		
		<p><a href="/index.html">Welcome Beer App Home Page</a></p>
		<p><a href="/random-beer-details">Visit Random-beer-details page</a></p>
		<p><a href="/beer-list">Visit Beer List Page </a></p>	
</div>
</html>

</html>
